In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv('spam.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [8]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam,test_size=0.25)

In [16]:
X_train

330     I'm reading the text i just sent you. Its mean...
2763    ARR birthday today:) i wish him to get more os...
4219    Actually i'm waiting for 2 weeks when they sta...
2188          Oh god. I'm gonna Google nearby cliffs now.
2349                That seems unnecessarily affectionate
                              ...
603                Speaking of does he have any cash yet?
5521                  You are a big chic. Common. Declare
2551    Please sen :)my kind advice :-)please come her...
54      SMS. ac Sptv: The New Jersey Devils and the De...
1774            I'm not coming over, do whatever you want
Name: Message, Length: 4179, dtype: object

In [17]:
X_test

1237                             How much are we getting?
575                      Nope i waiting in sch 4 daddy...
1693    Weightloss! No more girl friends. Make loads o...
4111    Yo, you gonna still be in stock tomorrow/today...
5091       No no. I will check all rooms befor activities
                              ...
283                         Ok. I asked for money how far
2336    Which is weird because I know I had it at one ...
4251                              How much for an eighth?
1788                           Yes:)sura in sun tv.:)lol.
1845             Da is good good player.why he is unsold.
Name: Message, Length: 1393, dtype: object

In [18]:
y_train

330     0
2763    0
4219    0
2188    0
2349    0
       ..
603     0
5521    0
2551    0
54      1
1774    0
Name: spam, Length: 4179, dtype: int64

In [19]:
y_test

1237    0
575     0
1693    0
4111    0
5091    0
       ..
283     0
2336    0
4251    0
1788    0
1845    0
Name: spam, Length: 1393, dtype: int64

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [21]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [24]:
X_test_count = v.transform(X_test)

In [25]:
model.score(X_test_count, y_test)

0.9849246231155779

In [26]:
#pipeline
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [27]:
clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [29]:
clf.score(X_test,y_test)

0.9849246231155779