In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

  Company                  Job     Degree  Salary_more_tan_100k
0  google     sales execuetive  bcahelors                     0
1  google     sales execuetive    masters                     0
2  google     business manager  bcahelors                     1
3  google     business manager    masters                     1
4  google  computer programmer  bcahelors                     0

In [5]:
inputs = df.drop('Salary_more_tan_100k',axis='columns')

In [6]:
inputs

       Company                  Job     Degree
0       google     sales execuetive  bcahelors
1       google     sales execuetive    masters
2       google     business manager  bcahelors
3       google     business manager    masters
4       google  computer programmer  bcahelors
5       google  computer programmer    masters
6   abc pharma     sales execuetive    masters
7   abc pharma  computer programmer  bcahelors
8   abc pharma     business manager  bcahelors
9   abc pharma     business manager    masters
10    facebook     sales execuetive  bcahelors
11    facebook     sales execuetive    masters
12    facebook     business manager  bcahelors
13    facebook     business manager    masters
14    facebook  computer programmer  bcahelors
15    facebook  computer programmer    masters

In [7]:
target = df['Salary_more_tan_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_tan_100k, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [17]:
inputs['company_n'] = le_company.fit_transform(inputs['Company'])
inputs['job_n'] = le_company.fit_transform(inputs['Job'])
inputs['degree_n'] = le_company.fit_transform(inputs['Degree'])

In [20]:
inputs_n = inputs.drop(['Company','Job','Degree'],axis='columns')

In [21]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [22]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [23]:
model.fit(inputs_n,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
model.score(inputs_n,target)

1.0

In [28]:
model.predict([[2,1,1]])

array([1], dtype=int64)

In [29]:
import pickle

In [30]:
with open('model_pickle','wb') as file:
    pickle.dump(model,file)

In [31]:
with open('model_pickle','rb') as a:
    des_model = pickle.load(a)

In [32]:
des_model.predict([[2,1,1]])

array([1], dtype=int64)