In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
df = pd.read_csv("data.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [6]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [7]:
import math
df.bedrooms.median()

3.5

In [9]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())

In [10]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [12]:
model = linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
model.predict([[3000,3,10]])

array([651105.79186941])

In [16]:
model.coef_

array([   180.19345472, -60375.92214723,  -4060.587035  ])

In [17]:
model.intercept_

332259.06451106555

In [21]:
180.19345472*3000+(-60375.92214723*3)+(-4060.587035*10)+332259.06451106555

651105.7918793756

In [22]:
import pickle

In [23]:
with open('model_pickle','wb') as file:
    pickle.dump(model,file)

In [24]:
with open('model_pickle','rb') as a:
    multi_model = pickle.load(a)

In [26]:
multi_model.predict([[4000,4,5]])

array([791226.25961388])

In [29]:
import joblib

In [30]:
joblib.dump(model,'model_joblib')

['model_joblib']

In [31]:
multi_model2 = joblib.load('model_joblib')

In [32]:
multi_model2.predict([[4000,4,5]])

array([791226.25961388])